.container{
width: 60%;
height: 70vh;
position: relative;
    
margin-top: 7%;

}
.textField{
    position: relative;
    left: 40%;
    top: 7%;
    background-color: antiquewhite;
}
.btnGuess{
    position: relative;
    right: 35%;
    bottom: 3px;
    width: 150px;
}